altgraph==0.17.4
packaging==23.1
pefile==2023.2.7
Pillow==10.0.1
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pyperclip==1.8.2
pytube==15.0.0
pywin32-ctypes==0.2.2
ttkbootstrap==1.10.1
validators==0.22.0
